
.toolbar-shadow{
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
}

.toolbar-row-1{
    height: 65px;
    padding: 0px 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.toolbar-ic-search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.toolbar-row-2{
    height: 40px; 
    background-color: #1f2533;
    padding: 0px 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-2-item{
    font-size: 14px;
    margin-right: 27px;
    font-weight: 300;
    color:#ccc;
}

.row-2-subitem{
    font-size: 12px;
    margin-left: 27px;
    font-weight: 300;
    color:#ffffff80;
}

.search-bar{
    width:530px; 
    background-color: #fff; 
    padding: 6px 9px; 
    margin-left:20px; 
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.search-input{
    width: 100%;
    margin-left: 20px;
    border: 0px;
    outline: 0px !important;
}

.toolbar-dropdwn-btn{
    font-size: 14px; 
    color: #ccc;
    font-weight: 300;
}

.toolbar-signin-btn{
    color: #ccc;
    font-size: 12px;
    border:1px solid #fff;
    border-radius: 4px;
    padding:4px 8px;
    font-weight: 300;
    margin-left: 20px;
}

.ic-hamberger{
    color: #ccc;
    margin-left: 20px;
}

a{
    text-decoration: none;
}

.active{
    color: #fff;
    font-weight: 400;
}