<mat-toolbar color="primary" class="toolbar-shadow">
    <mat-toolbar-row class="toolbar-row-1">
        <img src="assets/images/toolbar-logo.png" alt="" width="115px" height="30px">
        <input type="text" placeholder="Search For Movies, Events, Plays, Sports and Activities"
            style="width:530px; background-color: #fff; padding: 9px; margin-left:20px; border-radius: 4px;">
    </mat-toolbar-row>
    <mat-toolbar-row class=" toolbar-row-2">
        <span class="row-2-item">Movies</span>
        <span class="row-2-item">Events</span>
    </mat-toolbar-row>
</mat-toolbar>