.movies-container{
    padding: 0px 80px 20px 80px;
}

.movies-subcontainer{
    padding: 10px 0px;
}

a{
    text-decoration: none;
    color: gray;
    padding-bottom: 1.3px;
}

.active-route{
    color: #67a8fd;
}

.page-title{
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}