<div fxLayout="column" fxLayoutGap="20px" style="padding-top: 36px;">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Select Langauge
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkbox-container" *ngFor="let langauge of arrLangauge">
            <mat-checkbox>{{langauge}}</mat-checkbox>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Genre
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkbox-container" *ngFor="let genre of arrGenre">
            <mat-checkbox>{{genre}}</mat-checkbox>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Format
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="checkbox-container" *ngFor="let format of arrFormat">
            <mat-checkbox>{{format}}</mat-checkbox>
        </div>
    </mat-expansion-panel>
</div>